body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:purple;
    font-size: 2.3rem;
}


.container-center{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
}

.main-container{
    display:flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-between; 

}

.main-container .menu-bar{
    position: fixed;
    top:0;
    left: 0;
    z-index: 1;
    background-color: purple;
    width:220px;
    height: 100%;
    overflow-x: hidden;
    padding-top: 20px;
    transition: width 0.4s;
}

.main-container .menu-bar h1{
    font-size: 2.2rem;
    margin-left: 40px;
    color:white;
}

.main-container .menu-bar ul{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
}

.main-container .menu-bar ul li{
    padding: 12px 16px;
    margin:12px;
}

.main-container .menu-bar ul li a{
    color:white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all .4s;
}

.main-container .menu-bar ul li a:hover{
    color:rgb(217, 108, 188);
    margin-left: 12px;
}

.main-section{
    margin-left:300px;
    width: 100%;
    
}

.main-section .nav{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0.5rem 1.1rem;
    background-color: rgb(255, 255, 255);
    align-items: center;
    position: fixed;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

 .profile-pic{
    width: 40px;
    height: 40px;
    position: fixed;
    top:0.75rem;
    right: 1rem;
    z-index: 1;
    
}

 .profile-pic img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid purple;
    object-fit:cover;
    object-position: top left;
}

.main-section .nav .logo{
    color:purple;
    font-size: 2.4rem;
    margin-left: 50px;
}


.main-body{
    margin-top: 110px;
}

.text-container{
    width: 70%;
    padding: 1.2rem;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}

.text-container p{
    line-height: 1.4;
    font-size: 1.4rem;
    text-align: center;
}

.success-alert{
    display: flex;
    justify-content: space-around;
    color:white;
    font-size: 1.3rem;
    align-items: center;
    width: 100%;
    height: 45px;
    padding: 1.1rem 0.6rem;
    margin: 0;
    background-color: palegreen;
}

.error-alert{
    display: flex;
    justify-content: space-around;
    color:white;
    font-size: 1.3rem;
    align-items: center;
    width: 100%;
    height: 45px;
    padding: 1.1rem 0.6rem;
    margin: 0;
    background-color: rgb(251, 152, 152);
}

.close-btn{
    color:white;
    transition: all .5s;
    cursor: pointer;
    font-size: 1.2rem;
}

.main-form{
    width: 60%;
    padding: 1.2rem 1.5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.main-form input[type = "submit"]{
    width:100px;
    margin-top: 1.2rem;
    padding: 0.5rem 1.1rem;
    color:white;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    background-color: purple;
    cursor: pointer;
    transition: all .5s;

}

.main-form input[type = "submit"]:hover{
    background-color: rgb(165, 8, 165);
    width: 150px;

   
}


.main-form select{
    padding: 0.5rem 1.1rem;
    margin-top: 1.3rem;
    width:100%;
    font-size: 1.1rem;
    text-align: center;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.main-form input[type = "text"]{

    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    padding: 0.5rem 1.1rem;
    font-size: 1.1rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

.main-form label{
    color: black;
    font-size: 1.2rem;
}

.main-form a{
    color:purple;
    text-decoration: none;
    display: block;
    margin-top: 1.2rem;
    font-size: 1.2rem;
}

.main-form input[type = "file"]{
    display: block;
    margin-top: 12px;
}



 .main-form img{
    width: 100px;
    height: 100px;
    margin-left: 50%;
    object-fit: cover;
    image-rendering:crisp-edges;
    border-radius: 50%;
    margin-left: 125px;
    border: 2px solid purple;
    
}

.table-list{
    width: 75%;
    overflow: auto;
   
}


.table-list table{
    border-collapse: collapse;
    width: 100%;
   
  
}

.table-list table td a{
    color:white;
    width:110px;
    padding: 15px 12px;
    background-color: purple;
    border-radius: 10px;
    font-size: 1.2rem;
    text-decoration: none;

}

.table-list table td{
    border: 1px solid #ddd;
    padding: 1.2rem 1rem;
    width: 30%;
}

.table-list table tr:nth-child(even){
    background-color: #f2f2f2;
}

.table-list table th{
    padding-top:12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: purple;
    color:white;
}

.student-pic{

    width: 75px;
    height: 75px;
}

.student-pic img{

    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid purple;
    object-fit:cover;
    object-position: top left;
    image-resolution: 1;
}


.hamburger-btn{
    display:none;
    position: fixed;
    top:0.75rem;
    left:1rem;
    justify-content: space-around;
    align-items: center;
    width: 35px;
    height: 35px;
    flex-direction: column;
    cursor: pointer;
    z-index: 2;
}

.hamburger-btn .bar{
   
    width: 100%;
    height: 5px;
    background-color: purple;
    
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.header .close{
    color:white;
    font-size: 2.2rem;
    text-align: center;
    cursor: pointer;
    transition: all .2s;
    width:30px;
    padding: 5px;
    border-radius: 10px;
}

.header .close:hover{
    background-color: rgb(196, 8, 196);
}


@media only screen and (max-width: 600px){

    .hamburger-btn{
        display: flex;
    }

    .main-section .nav .logo{
        margin-left: 5.2rem;
    }

    .main-section{
        margin-left: 0;
    }
}
